	body {
					background-color: #91a2a8;
					margin-left: 25%;
					margin-right: 25%;
					border: 2px solid black;
					padding: 15px 15px 15px 15px;
					font-family: century-gothic;
				}
				h1, h2 {
				color: #612a08;
				}
			h1.disc, h2.disc {
								color: #ff0000;
							}